@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Righteous|Vidaloka');
@import 'header';

* {
    box-sizing: border-box;
    color: $baby-powder;
    text-decoration: none;
    font-family: 'Vidaloka', 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background: $baby-powder;
    height: 100vh;
    overflow: hidden;
    flex-basis: auto;
    @include flex-column();
}

article {    
    flex: 0.001;    
    max-height: 0rem;
    transition: all 1s  cubic-bezier(0.54, 0.74, 0.34,-0.49);
    * {
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }
}

.full-opacity {
    opacity: 1;
}

.article-opened {
    flex-grow: 5;
    max-height: 100rem;
}

#contact {
    background: $maximum-blue-green;
}

#about {
    background: $rose-madder;
}