<h1 mat-dialog-title>Editar receita</h1>

<div mat-dialog-content>
  <form *ngIf="form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input formControlName="description" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of autocomplete$ | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor</mat-label>
      <span matPrefix>R$ </span>
      <input formControlName="value" type="number" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ícone</mat-label>
      <mat-select formControlName="icon">
        <mat-option *ngFor="let icon of iconsAvailable" [value]="icon">
          <mat-icon>{{ icon }}</mat-icon> ({{ icon }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="monthly">
      <mat-label>De - Até</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="from" placeholder="Início">
        <input matEndDate  formControlName="until" placeholder="Final">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUi #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-flat-button (click)="save()" color="primary">Salvar</button>
  </form>
</div>

