body {
    align-items: center;
}

h1 {
    margin-bottom: 0;
    margin-inline-start: 0;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

time {
    margin-bottom: .83em;
    color: var(--g4);
}

article {
    border: 0;
    width: 60%;
}

header {
    margin: 0 100px;
    font-weight: bold;
}

blockquote {
    margin-bottom: 0;
    font-style: italic;
}

pre {
    overflow: auto;
}

main {
    flex-direction: column;
    align-items: initial;
}

.cite {
    margin-top: 0;
    text-align: right;
}

img:not(.cover) {
    border: 1px solid var(--g2);
    max-width: 500px;
    align-self: center;
}

@media screen and (max-width: 1000px) {
    header {
        margin: 0;
    }
    header p {
        text-align: center;
    }
    article {
        width: 100%;
    }

    li {
        line-height: 2;
    }
}
